<!--<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <nav-menu></nav-menu>
        </div>
        <div class='col-sm-9 body-content'>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>-->
<div class="container">
    <div class="top">
        <div class="title">
            Chat
        </div>
    </div>
    <div class="content">
        <div class="chat-link-list">
            <a routerLink="/chat">
                <div class="chat-link">
                    <div class="circle-facebook-avatar"></div>
                    <div class="name">Fb-Chat</div>
                    <div class="tchat-text">Hello</div>
                </div>
            </a>
            <a routerLink="/weather">
                <div class="chat-link">
                    <div class="circle-weather-avatar"></div>
                    <div class="name">Weather</div>
                    <div class="tchat-text">Hello</div>
                </div>
            </a>

            <a routerLink="/news">
                <div class="chat-link">
                    <div class="circle-news-avatar"></div>
                    <div class="name">News</div>
                    <div class="tchat-text">Hello</div>
                </div>
            </a>

            <a routerLink="/support">
                <div class="chat-link">
                    <div class="circle-support-avatar"></div>
                    <div class="name">Support</div>
                    <div class="tchat-text">Hello</div>
                </div>
            </a>
            <a target="_blank" href="/">
                <div class="chat-link">
                    <div class="circle-avatar"></div>
                    <div class="name">Client 4</div>
                    <div class="tchat-text">Hello</div>
                </div>
            </a>


        </div>
        <div class="chat-body">
            <router-outlet>
            </router-outlet>
        </div>

    </div>

</div>
